* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    overflow: hidden;

    display: grid;
    grid-template-rows: 125px 1fr;
    grid-gap: 10px;

    font-family: 'Montserrat', sans-serif;
}

#arcade-controller {
    background: #b8e0a5;
    margin: -10px -10px 0 -10px;
    padding: 10px;

    height: 100%;
    display: flex;
    justify-content: center;
}

.arcade-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    height: 100%;
    width: 100%;
    max-width: 50vw;
}
.arcade-game .name {
    grid-column: span 2;
    font-weight: bold;
    font-size: 1.5rem;
}
.arcade-game .value {
    color: hsla(0, 0%, 40%);
}
.arcade-game .add {
    grid-column: span 2;
    width: 100%;
}

button, select, input {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    height: 30px;
    background: white;
}
button {
    cursor: pointer;
    transition: background 0.1s;
}
button:hover {
    background: hsl(0, 0%, 97%);
}

#arcade {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 5px;
}

.game {
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 40vw;

    display: grid;
    grid-template-rows: 62px 1fr;

    background: #d8ebd1;
    grid-gap: 5px;

    border: 5px solid #d8ebd1;
}

.scoreboard {
    background: #b8e0a5;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "input score" "start score";
    grid-gap: 2px;
}
.scoreboard.in-game {
    grid-template-areas: "score next" "score next";
}
.scoreboard.in-game button, .scoreboard.in-game select {
    display: none;
}
.scoreboard:not(.in-game) .next {
    display: none;
}

.scoreboard button {
    grid-area: start;
}
.scoreboard select {
    grid-area: input;
}
.scoreboard span {
    grid-area: score;

    margin: auto;
}
.scoreboard.in-game span {
    font-size: 1.5rem;
    font-weight: bold;
}
.scoreboard canvas {
    background: #c6ecb7;
}

canvas {
    width: 100%;
    height: 100%;

    background: white;
}